html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    border: none;
    border-radius: 8px;
    padding: 1.5% 2.5%;
    background-color: #E6E6FA;
    color: #414146;
    font-size: 1rem;
}

.metrics {
    display: flex;
    gap: 15%;
    justify-content: center;
    margin-bottom: 10px;
}

.moves{
    display: flex;
    gap: 3px;
}

.time{
    display: flex;
    gap: 3px;
}

.game-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.game-field__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border: 1px solid;
    font-size: 2remgit;
}

.current-size{
    display: flex;
    gap: 3px;
    margin-bottom: 15px;
}

.other-sizes{
    display: flex;
    gap: 5px;
}

.other-sizes__value{
    color:rgb(21, 148, 148);
    text-decoration: underline;
    cursor: pointer;
}

