/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root{
    --orange:  #F9804B;
    --yellow: #FFEE2E;
    --green: #4B9200;
    --gray: #767474;
}


html{
    box-sizing: border-box;
    font-family: 'Roboto';
}
*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

.button{
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover{
    background: #E47209;
}

.button:active{
    background: var(--green);
}

.button:disabled{
    background: var(--gray);
}

.wrapper{
    max-width: 1160px;
    margin: 0 auto
}


/* Header styles start*/

.header{
    background-color: #000;
}

.header__container{
    padding: 14px 0px;
    display: flex;
    align-items: center;
}

.h1{
    margin: 0;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.header__logo{
    position: relative;
    width: 82px;
    margin-right: 63px;
    padding: 3.55px 4.75px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.bamboo-stick{
    position: absolute;
    bottom: 4.79px;
    left: 7.13px;
}

.header__navigation{
    margin-right: 438px;
}

.navigation{
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 58px;
    margin: 0;
}

.navigation__item{
    list-style-type: none;
}

.navigation__link{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.copypast-link{
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.navigation__link,.copypast-link :active :hover{
    color: var(--orange);
}

/* Header styles end*/



/*Watch-animal-online styles start*/

.watch-online{
    min-height: 700px;
    background: url(../../assets/images/giant-panda.jpg) center no-repeat ;
    background-size: cover;
}

.watch-online__container{
    padding: 12px 0px 0px 657px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.watch-online__motto{
    position: relative;
}

.motto__circle{
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.motto__text{
    position: absolute;
    top: 74px;
    left: 73px;
    max-width: 500px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

.favorite{
    color: var(--yellow);
}

.watch-online__button{
    margin-left: 176px;
}

.button_watch{
    padding: 16px 0px;
    width: 298px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}


/*Watch-animal-online styles end*/

